.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  font-family: Arial, sans-serif;
}

.home-content {
  background-color: rgba(255,255,255,0.9);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.home-content h1 {
  margin-bottom: 20px;
}

.home-content p {
  margin-bottom: 30px;
  font-size: 18px;
}

.home-content button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #4a90e2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.home-content button:hover {
  background-color: #357ab7;
}

.home-container {
  padding: 30px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.service-card {
  background-color: #412B6B;
  color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.service-card:hover {
  background-color: #412B6B;
}
body{
  background-color: #80A1BA;
}